/* Cores personalizadas */
:root {
    --cor-primaria: #eae6e0;
    --cor-secundaria: #000000;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--cor-secundaria);
    font-size: 16px;
}

.bg-custom {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.btn-custom {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border: none;
}

.btn-custom:hover {
    background-color: #333333;
    color: var(--cor-primaria);
}

header {
    background-image: url('assets/images/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.lead {
    font-size: 3rem;
    font-weight: 300;
    color: black;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: black;
}

body {
    font-family: 'Arsenal SC', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

footer {
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        padding: 50px 0;
    }

    .lead {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .row {
        flex-direction: column;
    }

    .col-md-4 {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-custom {
        width: 100%;
    }

    footer {
        padding: 10px 0;
    }

    footer p {
        font-size: 0.9rem;
    }

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}
